.section {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 60px 0;

  padding-left: 120px;
  padding-right: 80px;
}

.reverse {
  flex-direction: row-reverse;
}

/* TEXT */
.textBlock {
  flex: 1;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #4c5aa1;
  margin-bottom: 10px;
  margin-left: 60px;
}

.subtitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #4c5aa1;
}

.content {
  color: #6b7280;
  font-size: 18px;
  line-height: 1.7;
}

/* IMAGE */
.imageWrapper {
  flex: 1;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .section {
    flex-direction: column;
    gap: 24px;

    padding-left: 20px; /* NEW */
    padding-right: 20px; /* NEW */
  }

  .reverse {
    flex-direction: column;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 24px;
  }
}
