.page {
  background: white;
  font-family: "Poppins", sans-serif;
}

.hero {
  position: relative;
  height: 260px;
  overflow: hidden;
  border-bottom: 6px solid rgba(53, 88, 176, 0.06);
}
.heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* filter: brightness(0.62) saturate(0.9); */
}
/* .heroOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(63, 102, 209, 0.28) 0%,
    rgba(63, 102, 209, 0.1) 60%
  );
  pointer-events: none;
} */
.heroContent {
  position: absolute;
  left: 80px;
  top: 60px;
  color: #fff;
  max-width: 640px;
}
.heroTitle {
  margin: 0 0 12px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.5px;
  text-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  font-size: 16px;
}

/* CONTENT */
.section {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 480px;
  gap: 60px;
  padding: 0 80px;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  color: #4c5aa1;
  margin-bottom: 24px;
}

.aboutImg {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.08);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .section {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .heroTitle {
    font-size: 34px;
  }
}

.fullContent {
  max-width: 1180px;
  margin: 40px auto;
  padding: 0 20px;
}

.fullContent h3 {
  font-size: 18px;
  margin-top: 30px;
  color: #707173;
}

.fullContent p {
  font-size: 18px;
  color: #6b7280;
  line-height: 1.7;
}
